extends inc/layout
block content
    div.fixed.Heroframe
        div.container
            div.hero-unit
                div.row-fluid
                    div.span12
                        h2 详细了解
                        div(style="height:600px; overflow-y:scroll")

                            p 实时物流系统RTLM
                            p 一种有限区域内快速响应的物流体系

                            p 提起物流，大家不难想到顺风、中通、EMS这些知名的物流公司。人们在忙碌生活和工作中谁会关注物流具体是怎么运作的， 这样便会对物流的概念进入了一种思维定势，其实一切商品在空间上的位移就是物流。传统物流已经存在了几千年，而现代物流只是花费不多的钱来改造它，使传统物流更高效、低耗。同样RTLM也是花不多的钱来改造现代物流，但是却有了质的改变。

                            p RTLM的出现并不是为了取代现代物流，如果说现代物流在宏观概念中是一种突破，那RTLM则是在微观感念中的飞跃，在有限区域内，使得物流更加高效，低耗，也使得物流概念更加完整。

                            p RTLM的最终目标是一种全天候“零等待”的购物体验，这里的“零等待”不是指完全不需要等待，而是“零”购物响应，也就是“购即发”的购物体验。传统物流不可能做到现代物流这样的高效，因为他们没有速度更快的交通工具和现代化的管理，现代物流不能做到“零等待”，因为没有RTLM。说到这里，RTLM到底是什么。

                            p RTLM其实没那么神， 他是一种在有限区域内快速响应的物流体系，缩短了传统物流派遣配送人员上门取物的时间，加快了取物效率，在高业务量的基础上能够做到购物“零响应”。 他是顺应时代发展的产物，就像现代物流产生过程一样。现实生活中其实也有他的原型， 比如，麦当劳，肯德基所提供的外送服务，和京东商城外送团队等。大家都知道肯德基麦当劳这种外送服务是多么的便利，京东商城的外送团队是那么的专业，但是他们都很难作为一个行业来发展，因为他们都没有摆脱传统物流思维的束缚，而且这些外送团队都必须建立在原行业业务量的基础上，是原行业为了提高服务质量而存在的附属产品。并不是所有的商家都有能力提供这样饶有规模的便捷服务，打造这样的团队其成本简直就是一个噩梦。

                            p RTLM具有的最大优势便是全天候“零等待”的购物体验。 RTLM打破了传统物流思维，认为物流时时刻刻都存在，任何一个人都可以作为物流中的一个要素。如果能够合理管理和支配这些要素，便能够实现全天候“零等待”的目标。这听起来似乎有些胡言乱语，天方夜谭， 不砸重金安能实现？	没错，如果一下子把RTLM推向全国，这的确是不能的，但是如果将RTLM作为一个新兴行业，使其逐渐发展壮大， 而单凭他这种快速响应的特性，必将给各大零售商、餐馆、小贩和所有需要在有限区域内进行物流传递的商家提供巨大的销售额，而且能够壮大其客户群体。所以RTLM有着很大的施展空间和广泛的市场。

                            p RTLM缩短购物响应的过程就是其业务量增加的过程，业务量越高，购物响应时间越短。以传统思维去理解的话，也是天方夜谭，可是RTLM人的确做到了这一点。RTLM发展初期，将雇佣一些全职的配送人员，配送人员的配送任务不是固定的而是处于动态分配过程中。配送人员完成一次配送任务之后，便马上加入下一个配送任务的候选序列，而此时，配送人员一直在其服务范围内。一旦有商家需要配送，那么在此商家周围搜寻离他最近的配送人员，前去取物配送。通过这样不断的迭代，配送人员将一直处于“取物->配送->取物->配送“，这么一个循环，那么在一个服务范围有限，而业务量无限的区域，随着业务量的增多，合理增加配送人员，使其达到一个动态的平衡点，那么购物响应时间便会越短。

                            p 如果有朝一日RTLM发展壮大，将形成一个唯一的购物大平台。所有人都可以加入RTLM成为物流行为中的一个要素， 消费者只要告诉我们他想买什么，便会有人在离他最近的商家那儿去取货配送。这边是RTLM宗旨——全天候，“零等待”。
