extends inc/layout
block content
    div.fixed
        div.container
            div#myCarousel.carousel.slide
                div.carousel-inner
                    div.active.item.exb-unit
                        div.container-fluid
                            div.row-fluid.about
                                div.span6
                                    img(src='/img/EJ3298DS2F5D.png')
                                div.span6
                                    p 快速物流RTLM是一种在有限区域间能够快速传递的物流体系。
                                    p 他的配送人员选取方案是按照就近原则自动选取……
                                    br
                                    a(href="/about",  class="btn btn-primary btn-large pull-right") 详细了解 &rsaquo;&rsaquo;
                    div.item.exb-unit
                        div.container-fluid
                            div.row-fluid.customer
                                div.span6
                                    img(src='/img/6K8S60JZQD14.png')
                                div.span6
                                    p 如果你是一名商家，有客户通过电话、网络等线下方式下了订单，那么就可以通过RTLM指定人员为您派送
                                    br
                                    a(href="/store", class="btn btn-primary btn-large pull-right") 我是店家 &rsaquo;&rsaquo;

                    div.item.exb-unit
                        div.container-fluid
                            div.row-fluid.consumer
                                div.span6
                                    img(src='/img/AQB1LA88Y219.png')
                                div.span6
                                    p 如果您是一名消费者，需要购买商品但又不方便出行，可以选择RTLM来为您购买
                                    br
                                    a(href="/buy", class="btn btn-primary btn-large pull-right") 我要买&rsaquo;&rsaquo;

                a.carousel-control.left(href="#myCarousel",data-slide="prev") &lsaquo;
                a.carousel-control.right(href="#myCarousel",data-slide="next") &rsaquo;

    div#mapmask
    div#allmap