extends layout
block content
    div.fixed.Heroframe
        div.container
            div#myCarousel.carousel.slide
                div.carousel-inner
                    div.active.item.exb-unit
                        div.container-fluid
                            div.row-fluid.about
                                div.span6
                                    img(src='/img/EJ3298DS2F5D.png')
                                div.span6
                                    p 快速物流RTLM是一种在有限区域间能够快速传递的物流体系。
                                    p 他的配送人员选取方案是按照就近原则自动选取……
                                    br
                                    input(type="button", class="btn btn-primary btn-large pull-right", value="详细了解 >>")
                    div.item.exb-unit
                        div.container-fluid
                            div.row-fluid.costomer
                                div.span6
                                    img(src='/img/6K8S60JZQD14.png')
                                div.span6
                                    p 如果你是一名商家，有客户通过电话、网络等线下方式下了订单，那么就可以通过RTLM指定人员为您派送
                                    br
                                    input(type="button", class="btn btn-primary btn-large pull-right", value="我是店家，帮我送东西 >>")
                    div.item.exb-unit
                        div.container-fluid
                            div.row-fluid.consumer
                                div.span6
                                    img(src='/img/AQB1LA88Y219.png')
                                div.span6
                                    p 如果您是一名消费者，需要购买商品但又不方便出行，可以选择RTLM来为您购买
                                    br
                                    a(href="#", role="button", data-target="#consModal",  class="btn btn-primary btn-large pull-right") 我要买东西，帮我跑腿 >>

                a.carousel-control.left(href="#myCarousel",data-slide="prev") &lsaquo;
                a.carousel-control.right(href="#myCarousel",data-slide="next") &rsaquo;

    div#Modalconsumer(class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3#myModalLabel 帮您跑腿前，请先填写手机号码
        div.modal-body
            div.container-fluid
                span.span4.pull-left 手机号码：
                    input.input-xlarage(placeholder="填写真实的手机号码")

        div.modal-footer
            button.btn(data-dismiss="modal", aria-hidden="true") 取消
            button.btn.btn-primary 填完了继续 &rsaquo;&rsaquo;

    div#mapmask
    div#allmap






//        <!-- Button to trigger modal -->
//<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
//
//<!-- Modal -->
//<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
//    <div class="modal-header">
//        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
//        <h3 id="myModalLabel">Modal header</h3>
//    </div>
//    <div class="modal-body">
//        <p>One fine body…</p>
//    </div>
//    <div class="modal-footer">
//        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
//        <button class="btn btn-primary">Save changes</button>
//    </div>
//</div>