extends layout
block content
    div.fixed
        div.container
            div#myCarousel.carousel.slide
                div.carousel-inner
                    div.active.item
                        p 123
                    div.item
                        p 456
                    div.item
                        p 789
                a.carousel-control.left(href="#myCarousel",data-slide="prev") &lsaquo;
                a.carousel-control.right(href="#myCarousel",data-slide="next") &rsaquo;
    div#mapmask
    div#allmap